@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #050505;
  color: #00FF41;
  overflow-x: hidden;
  font-family: var(--font-mono);
}

.glow-text {
  text-shadow: 0 0 10px rgba(0, 255, 65, 0.8), 0 0 20px rgba(0, 255, 65, 0.4);
}